<div class="p-3" style="max-width: 580px;">
  <h2>Members of <strong>Farlong Holdings, LLC</strong></h2>
  <div class="row">
    <div class="col col-12 col-md-2">
      <img src="assets/img/stevejobs.jpg" class="img-fluid img-thumbnail" style="border-radius:50%;" />
    </div>
    <div class="col col-12 col-md-5">
      <a>Robert Blake</a><br />
      Investor
    </div>
    <div class="col col-12 col-md-5">
      <a>555-555-5555</a><br />
      <a>rjackson@domain.com</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col col-12 col-md-2">
      <img src="assets/img/stevejobs.jpg" class="img-fluid img-thumbnail" style="border-radius:50%;" />
    </div>
    <div class="col col-12 col-md-5">
      <a>Robert Blake</a><br />
      Investor
    </div>
    <div class="col col-12 col-md-5">
      <a>555-555-5555</a><br />
      <a>rjackson@domain.com</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col col-12 col-md-2">
      <img src="assets/img/stevejobs.jpg" class="img-fluid img-thumbnail" style="border-radius:50%;" />
    </div>
    <div class="col col-12 col-md-5">
      <a>Robert Blake</a><br />
      Investor
    </div>
    <div class="col col-12 col-md-5">
      <a>555-555-5555</a><br />
      <a>rjackson@domain.com</a>
    </div>
  </div>
</div>
