<div class="d-flex mb-2">
  <div class="icon">
    <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i><br />
    <small class="grey ext">(Jpg)</small>
  </div>
  <div class="content">
    <div class="d-flex">
      <a class="mr-2">Driver's License</a>
      <small class="ml-auto"><em>Uploaded: 2/14/2018</em></small>
    </div>
    <small>Notes: CA license, uploaded by borrower</small>
  </div>
</div>
<div class="d-flex mb-2">
  <div class="icon">
    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i><br />
    <small class="grey ext">(Pdf)</small>
  </div>
  <div class="content">
    <div class="d-flex">
      <a class="mr-2">Bank Statements (BofA March 2018)</a>
      <small class="ml-auto"><em>Uploaded: 2/14/2018</em></small>
    </div>
    <small>N/A</small>
  </div>
</div>
<div class="d-flex mb-2">
  <div class="icon">
    <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i><br />
    <small class="grey ext">(Pdf)</small>
  </div>
  <div class="content">
    <div class="d-flex">
      <a class="mr-2">Bank Statements (Wells Jan 2018)</a>
      <small class="ml-auto"><em>Uploaded: 2/14/2018</em></small>
    </div>
    <small>N/A</small>
  </div>
</div>
<div class="d-flex mb-2">
  <div class="icon">
    <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i><br />
    <small class="grey ext">(Jpg)</small>
  </div>
  <div class="content">
    <div class="d-flex">
      <a class="mr-2">IRA Tax Return</a>
      <small class="ml-auto"><em>Uploaded: 2/14/2018</em></small>
    </div>
    <small>N/A</small>
  </div>
</div>
<div class="d-flex">
    <button class="btn btn-primary-dk btn-sm mr-1 w-50"><i class="fa fa-external-link" aria-hidden="true"></i> Request</button>
    <button class="btn btn-primary-dk btn-sm ml-1 w-50"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Associate With...</button>
</div>
