<h2>Conversation Log</h2>
<table class="table table-sm table-striped mb-0">
  <tbody>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td>OB/ AE <a>Tommy Higgs</a></td>
      <td style="width:200px;"><a>Listen to call</a> (2:18)</td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 4:08 PM</td>
      <td>IB/ AE <a>Sara Tales</a></td>
      <td style="width:200px;"><a>Listen to call</a> (5:22)</td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-envelope fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 2:08 PM</td>
      <td>From <a>Jason Smith</a> Subject: <strong>Happy Birthday</strong></td>
      <td style="width:200px;"><a>Read Email</a></td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-envelope fa-lg"></i></td>
      <td style="width:200px;">7/5/2019 @ 2:08 PM</td>
      <td>From <a>Tonya</a> Subject: <strong>Followup</strong></td>
      <td style="width:200px;"><a>Read Email</a></td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td><a>Tommy Higgs</a> Phone call scheduled to discuss...</td>
      <td style="width:200px;"></td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td>OB/ AE <a>Tommy Higgs</a></td>
      <td style="width:200px;"><a>Listen to call</a> (2:18)</td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 4:08 PM</td>
      <td>IB/ AE <a>Sara Tales</a></td>
      <td style="width:200px;"><a>Listen to call</a> (5:22)</td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-envelope fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 2:08 PM</td>
      <td>From <a>Jason Smith</a> Subject: <strong>Happy Birthday</strong></td>
      <td style="width:200px;"><a>Read Email</a></td>
    </tr>
  </tbody>
</table>
