<table class="table table-sm table-striped mb-0">
  <tbody>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td>OB/ AE <a>Tommy Higgs</a></td>
      <td style="width:200px;">
        <audio controls>
          <source src="horse.ogg" type="audio/ogg" />
          <source src="horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 4:08 PM</td>
      <td>IB/ AE <a>Sara Tales</a></td>
      <td style="width:200px;">
        <audio controls>
          <source src="horse.ogg" type="audio/ogg" />
          <source src="horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-inbox fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 2:08 PM</td>
      <td>Campaign Mailer / ID: 3345032</td>
      <td style="width:200px;"><a>View Mailer</a></td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-envelope fa-lg"></i></td>
      <td style="width:200px;">7/5/2019 @ 2:08 PM</td>
      <td>From <a>Tonya</a> Subject: <strong>Followup</strong></td>
      <td style="width:200px;"><a>Read Email</a></td>
    </tr>

    <tr>
      <td style="width:50px;"><i class="fa fa-calendar fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td>Sender: <a>Tommy Higgs</a> Phone call scheduled to discuss...</td>
      <td style="width:200px;"><a>View Appointment</a></td>
    </tr>

    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/10/2019 @ 9:08 AM</td>
      <td>OB/ AE <a>Tommy Higgs</a></td>
      <td style="width:200px;">
        <audio controls>
          <source src="horse.ogg" type="audio/ogg" />
          <source src="horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-phone fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 4:08 PM</td>
      <td>IB/ AE <a>Sara Tales</a></td>
      <td style="width:200px;">
        <audio controls>
          <source src="horse.ogg" type="audio/ogg" />
          <source src="horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td style="width:50px;"><i class="fa fa-envelope fa-lg"></i></td>
      <td style="width:200px;">7/9/2019 @ 2:08 PM</td>
      <td>From <a>Jason Smith</a> Subject: <strong>Happy Birthday</strong></td>
      <td style="width:200px;"><a>Read Email</a></td>
    </tr>
  </tbody>
</table>
