<div class="d-flex">
  <div class="icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Coborrowers</strong></p>
    <p>
      <a>Jonney White</a><br />
      <a>Deborah Gillfield</a>
    </p>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-building fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Broker Correspondent</strong></p>
    <p><a>Nationwide Funding</a></p>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Relationships / Entities</strong></p>
    <p>
      <a>Standard Living, LLC</a><br />
      <a>Jason Osborn</a> - via <a>Standard Living, LLC</a><br />
      <a>Sarah Thompson</a> - via [LN# 4387743]
    </p>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Related Agents</strong></p>
    <p>
      <a>Mark Winters</a>
    </p>
  </div>
</div>
