<div class="d-flex">
  <div class="icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Coborrowers</strong></p>
    <ul>
      <li><a>Jonney White</a></li>
      <li><a>Deborah Gillfield</a></li>
    </ul>
  </div>
</div>
<hr/>
<div class="d-flex">
  <div class="icon"><i class="fa fa-building fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Broker Correspondent</strong></p>
    <ul>
      <li><a>Nationwide Funding</a></li>
    </ul>
  </div>
</div>
<hr/>
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Relationships / Entities</strong></p>
    <ul>
      <li><a>Standard Living, LLC</a></li>
      <li><a>Jason Osborn</a> - via <a>Standard Living, LLC</a></li>
      <li><a>Sarah Thompson</a> - via [LN# 4387743]</li>
    </ul>
  </div>
</div>
<hr/>
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Related Agents</strong></p>
    <ul>
      <li><a>Mark Winters</a></li>
    </ul>
  </div>
</div>
