<div class="gridContainer" #gridContainer>
  <ag-grid-angular
    #grid
    appDomObserver
    [callback]="gridFit.bind(this)"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [rowData]="rows"
    [columnDefs]="columnDefs"
    [animateRows]="animateRows"
    [enableSorting]="enableSorting"
    [enableFilter]="enableFilter"
    [enableColResize]="enableColResize"
    [enableRangeSelection]="enableRangeSelection"
    [rememberGroupStateWhenNewData]="rememberGroupStateWhenNewData"
    [getMainMenuItems]="getMainMenuItems"
    [groupUseEntireRow]="groupUseEntireRow"
    [rememberGroupStateWhenNewData]="true"
    [frameworkComponents]="gridComponents"
    [getContextMenuItems]="getContextMenuItems"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [rowSelection]="rowSelection"
    (rowClicked)="onRowSelected($event)"
    [allowContextMenuWithControlKey]="true"
    (selectionChanged)="gridSelectionChanged()"
    (cellContextMenu)="cellContextMenu($event)"
    (rangeSelectionChanged)="gridRangeSelectionChanged($event)"
    (gridSizeChanged)="gridSizeChanged()"
    (rowDataChanged)="gridRowDataChanged()"
    (sortChanged)="gridStateChanged($event)"
    (filterChanged)="gridStateChanged($event)"
    (columnPinned)="gridStateChanged($event)"
    (columnResized)="gridStateChanged($event)"
    (columnMoved)="gridStateChanged($event)"
    (columnRowGroupChanged)="gridStateChanged($event)"
    (firstDataRendered)="gridFirstDataRendered()"
    (gridReady)="gridReady($event)"
  >
  </ag-grid-angular>
  <!--
    (rowGroupOpened)="gridStateChanged($event)"
  -->
</div>
