<div *ngIf="{ data: tableData$ | async, isMobile: isMobile$ | async } as table" class="ui-table">
  
  <!-- Loading -->
  <ng-container *ngIf="!table?.data"><i class="fa fa-spinner fa-spin"></i> Loading...</ng-container>

  <!-- No row data -->
  <ng-container *ngIf="table?.data && !table?.data?.dataSource">No rows available</ng-container>

  <!-- Table data available -->
  <div
    *ngIf="table?.data?.dataSource && (!table.isMobile || (table.isMobile && mobileBehavior !== 'cards')); else cardView"
    [ngClass]="{ 'table-responsive': table.isMobile }"
  >
    <table
      mat-table
      [dataSource]="table.data.dataSource"
      matSort
      class="w-100 mb-0"
      [ngClass]="{ 'mat-table-mobile mb-3': table.isMobile }"
    >
      <!-- Loop through columns-->
      <ng-container *ngFor="let column of table.data.columns">
        <ng-container [matColumnDef]="column.prop">
          <!-- Desktop headers -->
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span [innerHTML]="column.label"></span>
          </th>
          <!-- Cell Content-->
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngTemplateOutlet="
                cellTemplate;
                context: {
                  column: column,
                  row: element,
                  template: column.template,
                  type: column.type,
                  typeArgs: column.typeArgs
                }
              "
            ></ng-container>
          </td>
        </ng-container>
      </ng-container>

      <!-- Table Header, determine if mobile or desktop -->
      <tr mat-header-row *matHeaderRowDef="table.data.columnDefinitions"></tr>

      <!-- Table Rows -->
      <tr mat-row *matRowDef="let row; columns: table.data.columnDefinitions"></tr>
    </table>
  </div>
</div>

<!-- 
    Mobile card view 
  -->
<ng-template #cardView>
  <mat-accordion *ngIf="(tableDataPivot$ | async) as tableData">
    <mat-expansion-panel *ngFor="let row of tableData.rows">
      <mat-expansion-panel-header *ngIf="row.rowTitle">
        <mat-panel-title>
          {{ row.rowTitle }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="row.dataSource" class="w-100 mb-0 table-striped">
        <ng-container *ngFor="let column of tableData.columns">
          <ng-container [matColumnDef]="column.prop">
            <!-- Cell Content-->
            <ng-container *matCellDef="let element">
              <td mat-cell>
                <ng-container *ngIf="column.prop === 'label'">
                  <span [innerHTML]="element[column.prop]"></span>
                </ng-container>
                <ng-container *ngIf="column.prop !== 'label'">
                  <ng-container
                    *ngTemplateOutlet="
                      cellTemplate;
                      context: {
                        column: column,
                        row: element,
                        template: element.template,
                        type: element.type,
                        typeArgs: element.typeArgs
                      }
                    "
                  ></ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
        <!-- Table Rows -->
        <tr mat-row *matRowDef="let row; columns: tableData.columnDefinitions"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<!--
  Manage cell templates
-->
<ng-template let-row="row" let-column="column" let-template="template" let-type="type" let-typeArgs="typeArgs" #cellTemplate>
  <!-- Custom cell template-->
  <ng-container *ngIf="template">
    <ng-container *ngTemplateOutlet="template; context: { value: row[column.prop], column: column, row: row }"></ng-container>
  </ng-container>
  <!--  No cell template, custom formatting  -->
  <ng-container *ngIf="!template && type">
    <ng-container [ngSwitch]="type">
      <!-- Phone Number -->
      <a
        *ngSwitchCase="'phoneNumber'"
        href="tel:{{ row[column.prop] | phoneNumber: true }}"
        [innerHTML]="row[column.prop] | phoneNumber"
      ></a>
      <!-- Email -->
      <a *ngSwitchCase="'email'" href="mailto:{{ row[column.prop] }} " [innerHTML]="row[column.prop]"></a>
      <!-- Currency -->
      <span *ngSwitchCase="'currency'" [innerHTML]="row[column.prop] | type: 'number' | currency: typeArgs"></span>
      <!-- Date -->
      <span *ngSwitchCase="'date'" [innerHTML]="row[column.prop] | date: typeArgs || 'medium'"></span>
      <!-- Default   -->
      <ng-container *ngSwitchDefault>
        <span class="red">Invalid column type specified for {{ column.prop }}</span>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- No custom template, no custom formatting -->
  <ng-container *ngIf="!template && !type">
    <span [innerHTML]="row[column.prop]"></span>
  </ng-container>
</ng-template>
