<app-header> <app-nav class="nav-component"></app-nav> </app-header>
<div class="controls">
  <div class="container-fluid">
    <div class="d-flex mb-3 p-3">
      <div>
        <mat-slide-toggle [checked]="false" color="primary" class="mr-3">Leads On</mat-slide-toggle>
        <mat-slide-toggle [checked]="true" color="warn">Calls Off</mat-slide-toggle>
      </div>

      <div class="input-group input-group-sm ml-auto" style="max-width:300px;">
        <input
          type="text"
          class="form-control"
          placeholder="Start typing here..."
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="active input-group-text" style="background-color: #8DB92E;color:#fff;" id="basic-addon2">
            <i class="fa fa-search mr-1" aria-hidden="true"></i> Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<main><router-outlet></router-outlet></main>
<app-footer></app-footer>
