<div class="d-flex">
  <div class="icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Divisions</strong></p>
    <ul>
      <li><a routerLink="/company">So Cal</a></li>
      <li><a routerLink="/company">Las Vegas</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-building fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Branches</strong></p>
    <ul>
      <li><a routerLink="/company">Irvine</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>Administrators</strong></p>
    <ul>
      <li><a routerLink="/contacts">Jason Jenkins</a></li>
      <li><a routerLink="/contacts">Saul Pepper</a></li>
      <li><a routerLink="/contacts">Dennis Hansen</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="d-flex">
  <div class="icon"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></div>
  <div>
    <p><strong>AE's</strong></p>
    <ul>
      <li><a>Mark Winters</a></li>
    </ul>
  </div>
</div>
