<div class="container-fluid">
  <h1>Angular Materials Table Implementation</h1>
  <hr />
  <p>Kitchen Sink. Has scrollable mobile table, custom cell templates, column sorting, global filtering and pagination.</p>
  <p>
    <input class="form-control" placeholder="Enter global filter term" [(ngModel)]="filterTerm" />
  </p>
  <nts-table [rows]="rows" [columns]="columns" [filterTerm]="filterTerm" [paginateOptions]="{ pageSize: 8, pageSizeOptions: [4, 8, 16] }">
    <!-- Column Template -->
    <table-column-template field="name">
      <!-- Header -->
      <ng-template let-value="value" let-column="column" let-row="row" table-header-template>
        Borrower Name
      </ng-template>
      <!-- Cell -->
      <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
        <a routerLink="/contacts"> {{ value }}</a>
      </ng-template>
    </table-column-template>

    <table-column-template field="action">
      <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
        <a routerLink="/contacts"><i class="fa fa-eye"></i> View Lead</a>
      </ng-template>
    </table-column-template>
  </nts-table>

  <hr />
  <p>Mobile Card View</p>
  <nts-table [rows]="rows" [columns]="columns" mobileBehavior="cards" mobileTitleProp="name">
    <table-column-template field="name">
      <ng-template let-value="value" let-column="column" let-row="row" table-header-template>
        Borrower Name
      </ng-template>
      <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
        <a routerLink="/contacts"> {{ value }}</a>
      </ng-template>
    </table-column-template>
    <table-column-template field="action">
      <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
        <a routerLink="/contacts"><i class="fa fa-eye"></i> View Lead</a>
      </ng-template>
    </table-column-template>
  </nts-table>
  <hr />
</div>
