<div class="container">
  <div class="row">
    <div class="col col-12 col-md-6">
      <a routerLink="/" class="small float-right mt-2"><i class="fa fa-eye" aria-hidden="true"></i> See all Alerts &amp; Tasks</a>
      <h3>
        Alerts &amp; Tasks
        <span class="badge badge-pill badge-danger">3</span>
      </h3>
      <mat-card class="mb-4 p-0">
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
              <td><i class="fa fa-exclamation-triangle red" aria-hidden="true"></i></td>
              <td><i class="fa fa-phone-square blue" aria-hidden="true"></i></td>
              <td>
                <p class="mb-1">8/22/2019 @ 9:31 PM - <strong>Call Back</strong> - <a href="#">Jason Hatfield</a></p>
                <ul class="mb-0">
                  <li class="small">Last time on the phone he needed more time to figure out his down payment</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><i class="fa fa-phone-square blue" aria-hidden="true"></i></td>
              <td>
                <p class="mb-1">8/27/2019 @ 2:21 PM - <strong>Follow Up</strong> - <a href="#">Maria George</a></p>
                <ul class="mb-0">
                  <li class="small">Two missed calls, need to follow up to get this deal closed</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><i class="fa fa-info-circle orange" aria-hidden="true"></i></td>
              <td>
                <p class="mb-1">8/25/2019 @ 10:21 AM - <strong>Notice</strong> - <a href="#">Tommy Timbertoe</a></p>
                <ul class="mb-0">
                  <li class="small">Lead reassigned to you by system admin</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div class="col col-12 col-md-6">
      <mat-card class="mb-4">
        <app-scheduler></app-scheduler>
      </mat-card>
    </div>
  </div>
  <div class="mb-4">
    <a routerLink="/" class="small float-right mt-2"><i class="fa fa-eye" aria-hidden="true"></i> View all leads</a>
    <h3>Leads that need attention <span class="badge badge-pill badge-danger">4</span></h3>
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <!-- Position Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.created }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"><a href="#">{{ element.name }}</a></td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="loanAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.loanAmt | currency }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">
          <a href="tel:{{ element.phone | phoneNumber: true }}">{{ element.phone | phoneNumber }}</a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let element">
          <a href="mailto:{{ element.email }}">{{ element.email }}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsLeads"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsLeads"></tr>
    </table>
  </div>
  <div class="mb-4">
    <a routerLink="/" class="small float-right mt-2"><i class="fa fa-eye" aria-hidden="true"></i> View all loans</a>
    <h3>Loans / Pipeline <span class="badge badge-pill badge-danger">1</span></h3>

    <table mat-table [dataSource]="dataSourceLoans" matSort class="w-100">
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.created }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

       <ng-container matColumnDef="loanNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan #</th>
          <td mat-cell *matCellDef="let element">{{ element.loanNumber }}</td>
        </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Borrower</th>
        <td mat-cell *matCellDef="let element"><a href="#">{{ element.name }}</a></td>
      </ng-container>

      <ng-container matColumnDef="loanAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.loanAmt | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">
          <a href="tel:{{ element.phone | phoneNumber: true }}">{{ element.phone | phoneNumber }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let element">
          <a href="mailto:{{ element.email }}">{{ element.email }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}, {{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="loanType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Type</th>
        <td mat-cell *matCellDef="let element">{{ element.loanType }}</td>
      </ng-container>

      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Condition</th>
        <td mat-cell *matCellDef="let element">{{ element.condition }}</td>
      </ng-container>

      <ng-container matColumnDef="milestone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Milestone</th>
        <td mat-cell *matCellDef="let element">{{ element.milestone }}</td>
      </ng-container>

      <ng-container matColumnDef="linked">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Linked</th>
        <td mat-cell *matCellDef="let element">{{ element.linked }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsLoans"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsLoans"></tr>
    </table>
  </div>
  <div class="mb-4">
    <a routerLink="/" class="small float-right mt-2"><i class="fa fa-eye" aria-hidden="true"></i> View all metrics</a>
    <h3>Metrics</h3>
    <div class="row">
      <div class="col col-12 col-md-6 col-xl-3">
        <mat-card>
          <app-chart
            class="mb-2"
            [type]="'bar'"
            [showYAxisLabels]="false"
            [data]="dataPoints"
            [colorGradient]="['#3d3c38', '#e1b71b']"
            [showLegend]="false"
            [height]="'300px'"
          >
          </app-chart>
          <h4 class="text-center">Units Closed (MTD/YTD)</h4>
        </mat-card>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <mat-card>
          <app-chart
            class="mb-2"
            [type]="'bar'"
            [showYAxisLabels]="false"
            [data]="dataPointsVolume"
            [colorGradient]="['#3d3c38', '#e1b71b']"
            [showLegend]="false"
            [height]="'300px'"
          >
          </app-chart>
          <h4 class="text-center">Volume (MTD/YTD)</h4>
        </mat-card>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <mat-card>
          <app-chart
            class="mb-2"
            [type]="'area'"
            [showYAxisLabels]="false"
            [data]="dataPointsTalk"
            [colorGradient]="['#e1b71b', '#3d3c38']"
            [showLegend]="false"
            [height]="'300px'"
          >
          </app-chart>
          <h4 class="text-center">Volume (MTD/YTD)</h4>
        </mat-card>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <mat-card>
          <app-chart
            class="mb-2"
            [type]="'area'"
            [showYAxisLabels]="false"
            [data]="dataPoints"
            [colorGradient]="['#e1b71b', '#3d3c38']"
            [showLegend]="false"
            [height]="'300px'"
          >
          </app-chart>
          <h4 class="text-center">Volume (MTD/YTD)</h4>
        </mat-card>
      </div>
    </div>
  </div>
</div>
