<div class="container-fluid">
  <mat-card class="mb-3">
    <app-contact-info></app-contact-info>
  </mat-card>
  <div class="row">
    <div class="col col-12 col-md-4">
      <mat-card class="mb-3">
        <h2>ASSOCIATIONS</h2>
        <hr />
        <app-associations></app-associations>
      </mat-card>
    </div>
    <div class="col col-12 col-md-8">
      <mat-card class="mb-3">
        <a class="float-right">Show All >>></a>
        <h2>CONVERSATION LOG</h2>
        <app-convo-log></app-convo-log>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-md-4">
      <mat-card class="mb-3">
        <a class="float-right">Show All >>></a>
        <h2>DOCUMENT REPOSITORY</h2>
        <hr />
        <app-doc-repo></app-doc-repo>
      </mat-card>
    </div>
    <div class="col col-12 col-md-8">
      <mat-card class="mb-3">
        <a class="float-right">Show All >>></a>
        <h2>
          Pipeline
          <em>
            <small>(Open/Pending/Post Loans) <span class="badge badge-pill badge-danger small">4</span></small>
          </em>
        </h2>
        <app-table [rows]="leads" [columns]="columnsLeads">
          <!-- Name -->
          <table-column-template field="name">
            <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
              <a><i class="fa fa-eye"></i> {{ value }}</a>
            </ng-template>
          </table-column-template>
          <!-- Name -->
          <table-column-template field="action">
            <ng-template let-value="value" let-column="column" let-row="row" table-cell-template>
              <a><i class="fa fa-eye"></i> View Lead</a>
            </ng-template>
          </table-column-template>
        </app-table>
      </mat-card>
    </div>
  </div>
</div>
