<div class="container-fluid">
  <mat-card class="mb-3">
    <app-contact-info></app-contact-info>
  </mat-card>
  <div class="row">
    <div class="col col-12 col-md-4">
      <mat-card class="mb-3">
        <app-associations></app-associations>
      </mat-card>
    </div>
    <div class="col col-12 col-md-8">
      <mat-card class="mb-3">
        <app-convo-log></app-convo-log>
        <hr />
        <div class="text-right">
          <a>Show All >>></a>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-md-4">
      <mat-card class="mb-3">
        <app-doc-repo></app-doc-repo>
      </mat-card>
    </div>
    <div class="col col-12 col-md-8">
      <mat-card class="mb-3">
        <app-pipeline></app-pipeline>
      </mat-card>
    </div>
  </div>
</div>
