<div class="row">
  <div class="col col-12 col-md-3">
    <div class="px-4 pb-4">
      <img src="assets/img/stevejobs.jpg" class="img-fluid img-thumbnail" style="border-radius:50%;" />
    </div>
    <div class="mb-3">
      <button class="btn btn-primary btn-sm w-100 mb-1 text-left"><i class="fa fa-gear"></i> Edit Information</button>
      <button class="btn btn-primary btn-sm w-100 mb-1 text-left"><i class="fa fa-gear"></i> Price Quote</button>
      <button class="btn btn-primary btn-sm w-100 mb-1 text-left"><i class="fa fa-gear"></i> Start Loan</button>

      <button [matMenuTriggerFor]="menu" class="btn btn-primary btn-sm w-100 mb-1 text-left"><i class="fa fa-gear"></i> Actions</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
  <div class="col col-12 col-md-9 pt-3">
    <h1 class="mb-1">Robert Jackson</h1>
    <p><strong>Investor</strong></p>
    <div class="row">
      <div class="col col-12 col-lg-6">
        <table class="table table-sm mb-0">
          <tbody>
            <tr>
              <td><strong>mID</strong></td>
              <td><a>B-000459433</a></td>
            </tr>
            <tr>
              <td><strong>Orgs</strong></td>
              <td><a routerLink="company">Robert Investments, LLC</a> <a>(see 3 more...)</a></td>
            </tr>
            <tr>
              <td><strong>Source</strong></td>
              <td><a>Organic</a></td>
            </tr>
            <tr>
              <td style="width:50px;"><strong>Phone</strong></td>
              <td>Mobile: <a>555-555-5555</a> Home: <a>555-555-5555</a></td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td><a>rjackson@domain.com</a></td>
            </tr>
            <tr>
              <td><strong>Address</strong></td>
              <td>123 Main St, San Diego CA 94523</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col col-12 col-lg-6">
        <p class="mb-2"><strong>Description</strong></p>
        <p class="mb-4">Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
        <p class="mb-2"><strong>Notes</strong></p>
        <p class="mb-2">
          Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        </p>
      </div>
    </div>
  </div>
</div>
