<div class="row">
  <div class="col col-12 col-md-2">
    <h1>Robert Jackson</h1>
    <img src="assets/img/stevejobs.jpg" class="img-fluid">
  </div>
  <div class="col col-12 col-md-8">
    <div class="row">
      <div class="col col-12 col-md-6">
        <table class="table table-sm table-striped mb-0">
          <tbody>
            <tr>
              <td style="width:50px;"><strong>Type</strong></td>
              <td>Investor</td>
            </tr>
            <tr>
              <td><strong>mID</strong></td>
              <td><a>B-000459433</a></td>
            </tr>
            <tr>
              <td><strong>Orgs</strong></td>
              <td><a>Robert Investments, LLC</a> <a>(see 3 more...)</a></td>
            </tr>
            <tr>
              <td><strong>Source</strong></td>
              <td><a>Organic</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col col-12 col-md-6">
        <table class="table table-sm table-striped mb-0">
          <tbody>
            <tr>
              <td style="width:50px;"><strong>Phone</strong></td>
              <td>Mobile: <a>555-555-5555</a> Home: <a>555-555-5555</a></td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td><a>rjackson@domain.com</a></td>
            </tr>
            <tr>
              <td><strong>Address</strong></td>
              <td>123 Main St, San Diego CA 94523</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pl-1 pt-2">
      <p class="mb-2"><strong>Description</strong></p>
      <p class="mb-2">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster
        collaborative thinking to further the overall value proposition.
      </p>
    </div>
  </div>

  <div class="col col-12 col-md-2">
    <div class="h-100 p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <h4>Actions</h4>
      <ul>
        <li><a>Edit Information</a></li>
        <li><a>Price Quote</a></li>
        <li><a>Start Loan</a></li>
      </ul>
    </div>
  </div>
</div>
