@import '../../../../styles/globals/variables';

header {
  background: #fff;
  color:#000;
  .navbar-brand {
    padding: 0;
    margin-right: 3rem;
    color: #000;
    .fa {
      color: yellow;
    }
  }
  .logo {
    max-width:293px;padding:25px;
  }
  .search-group {
    padding: 0.5em 1em;
    .form-control,
    .btn {
      border: 0;
    }
    .btn {
      border-left-width: 1px;
    }
    .search-option {
      width: 7rem;
    }
    .search-field {
      width: 8rem;
    }
  }

  .navbar {
    padding: 0;
  }
}
